@{
    ViewBag.Title = "MySlickflow";
    Layout = "~/Views/Shared/_LayoutSlickflow.cshtml";
}
@using Slickflow.Engine.Business.Entity;
@using Slickflow.Engine.Service;
@using Microsoft.AspNet.Identity;
@section style{


    <link href="~/FlatLab/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
}
<section class="wrapper">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                我的申请
            </a>
        </li>
        <li><a href="#ios" data-toggle="tab">  我的待办</a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="margin-top:5px;">
        <div class="tab-pane fade in active" id="home">
            <section class="panel">
                <header class="panel-heading">
                    我的待办事项
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="row state-overview">
                            <div class="col-lg-12 col-sm-12">
                                @model IEnumerable<Slickflow.MvcDemo.Data.Entity.ProcessInstance>
                                @{
                                    if (Model.Count() > 0)
                                    {
                                        <table class=" table table-bordered" id="hidden-table-info">
                                            <thead>
                                                <tr>
                                                    <td>流程名称</td>
                                                    <td>申请人</td>
                                                    <td>申请时间</td>
                                                    <td>运行状态</td>
                                                    <td>下一审批人</td>
                                                    <td>操作</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.ProcessName</td>
                                                        <td>@item.RealName</td>
                                                        <td>@item.CreatedDateTime</td>

                                                        @{
                                                    switch (item.ProcessState)
                                                    {
                                                        case 0:
                                                            <td>流程未启动</td>
                                                            break;
                                                        case 1:
                                                        <td>准备状态</td>
                                                            break;
                                                        case 2:
                                                        <td> 正常运行</td>
                                                            break;
                                                        case 4:
                                                        <td> 审批结束</td>
                                                            break;
                                                        case 5:
                                                        <td>审批挂起</td>
                                                            break;
                                                        case 6:
                                                        <td> 审批取消</td>
                                                            break;
                                                        case 7:
                                                        <td> 审批终止</td>
                                                            break;
                                                        default:
                                                        <td>出现错误</td>
                                                            break;
                                                    }
                                                        }
                                                        <td>@item.AssignedToUserName</td>
                                                        <td><a href="/leave/List/@item.AppInstanceID" style="margin-left:10px" class="btn btn-primary btn-link">查看</a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="row state-overview">
                                            暂无数据
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="ios">
            <section class="panel">
                <header class="panel-heading">
                    我的待办事项
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="row state-overview">
                            <div class="col-lg-12 col-sm-12">
                                @{
                                    try
                                    {
                                        IWorkflowService service = new WorkflowService();
                                        TaskQueryEntity en = new TaskQueryEntity
                                        {
                                            UserID = User.Identity.GetUserId()
                                        };
                                        IList<TaskViewEntity> taskViewList = service.GetReadyTasks(en);

                                        if (taskViewList != null)
                                        {
                                            <table class="table table-bordered" id="hidden-table-info-daiban">
                                                <thead>
                                                    <tr>
                                                        <td>流程名称</td>
                                                        <td>创建时间</td>
                                                        <td>活动名称</td>
                                                        <td>活动状态</td>
                                                        <td>活动类型</td>
                                                        <td>数据ID</td>
                                                        <td>操作</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in taskViewList)
                                                    {

                                                        <tr>
                                                            <td>@item.AppName</td>
                                                            <td>@item.CreatedDateTime</td>
                                                            <td>@item.ActivityName</td>
                                                            <td>@item.ActivityState</td>
                                                            <td>@item.ActivityType</td>
                                                            <td>@item.AppInstanceID</td>
                                                            <td><a href="/leave/list/@item.AppInstanceID/?processGuid=@item.ProcessGUID&activityInstanceID=@item.ActivityInstanceID" class="btn btn-link btn-primary">办理</a><a style="margin-left:5px;" href="/leave/list/@item.AppInstanceID" class="btn btn-link btn-primary">查看</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div><div colspan="6">没有数据</div></div>
                                        }
                                    }
                                    catch (Exception ex)
                                    {
                                        <div><div colspan="6">程序异常+@ex.Message</div></div>
                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript" language="javascript" src="~/FlatLab/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <!--common script for all pages-->

    <script type="text/javascript">
        $(document).ready(function () {
            /*
             * Initialse DataTables, with no sorting on the 'details' column
             */
            var oTable = $('#hidden-table-info').dataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']]
            });
            var pTable = $('#hidden-table-info-daiban').dataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']]
            });


        });
    </script>
}


