@model Slickflow.MvcDemo.Models.RegisterViewModel
@{
    ViewBag.Title = "Slickflow MvcDemo 注册";
}
@section style
    {
    <link href="~/Content/address/address.css" rel="stylesheet" />
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @value = "hello world" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RealName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RealName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.RadioButtonFor(m => m.Sex, "0", new { @checked = "checked" }) 男
            @Html.RadioButtonFor(m => m.Sex, "1") 女
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, "0", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.PhoneNumber, "0", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label"> 关于该插件的源码都在这里，需要的同学自己整理下</label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HomeTown, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="choise col-md-4">

                <span class="address">
                    <a href="#" title="">请选择</a>
                </span>
                <div class="addxq">
                    <div class="city-tit">
                        <a href="#" class="province">
                            <b>请选择省</b><i></i>
                        </a>
                        <a href="#" class="city">
                            <b>请选择市/县</b><i></i>
                        </a>
                        <a href="#" class="town">
                            <b>请选择县/区</b><i></i>
                        </a>
                        <a href="#" class="close">
                        </a>
                        <div style="clear:both"></div>
                    </div>
                    <div class="citybox">
                        <div class="gctBox" id="ctbox_1" style="display: block;">
                        </div>
                        <div class="gctBox" id="ctbox_2" style="display:none"></div>
                        <div class="gctBox" id="ctbox_3" style="display:none"></div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Region, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.HomeTown, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Extension/js/data.js"></script>
    <script>
        /*因为jquery.validator 默认会忽略所有的hidden 和display:none*/
        $.validator.setDefaults({ ignore: null });
    </script>
    <script>
        $(function () {
            var index;
            $(".city-tit a:eq(0)").addClass('cur');
            $(".citybox div:eq(0)").show();
            $(".city-tit a").click(function () {
                index = $(this).index();
                $(this).addClass('cur').siblings().removeClass('cur');
                $(".citybox div:eq(" + index + ")").show().siblings().hide();
            });
            $(".address").click(function () {
                $(".addxq").css('display', 'block');
            });
            $(".close").click(function () {
                $(".addxq").hide();
            });
            function init(obj_1, val_1, obj_2, val_2, obj_3, val_3) {
                //var addtit = ['请选择省', '请选择市', '请选择区县'];
                var pindex = 0;
                var cindex = 0;
                //初始化
                //$("<b >" + addtit[0] + "</b>").appendTo($("#province"));
                //$("<b >" + addtit[1] + "</b>").appendTo($("#city"));
                //$("<b >" + addtit[2] + "</b>").appendTo($("#town"));
                //初始化ctbox_1
                for (i = 0; i < mp.length; i++) {
                    if (mp[i] == val_1) {
                        pindex = i;
                        $("<span>" + mp[i] + "</span>").appendTo($("#" + obj_1));
                    } else {
                        $("<span>" + mp[i] + "</span>").appendTo($("#" + obj_1));
                    }
                }

                for (c = 0; c < mc[pindex].length; c++) {
                    if (mc[pindex][c] == val_2) {
                        cindex = c;
                        $("<span>" + mc[pindex][c] + "</span>").appendTo($("#" + obj_2));
                    } else {
                        $("<span>" + mc[pindex][c] + "</span>").appendTo($("#" + obj_2));
                    }
                }
                for (m = 0; m < mh[pindex][cindex].length; m++) {

                    if (mh[pindex][cindex][m] == val_3) {
                        $("<span>" + mh[pindex][cindex][m] + "</span>").appendTo($("#" + obj_3));
                    } else {
                        $("<span>" + mh[pindex][cindex][m] + "</span>").appendTo($("#" + obj_3));
                    }
                }
                $(document).on("click", "#" + obj_1 + " span", function () {
                    pindex = $(this).index();
                    $("#" + obj_2).empty();
                    for (k = 0; k < mc[pindex].length; k++) {
                        $("<span>" + mc[pindex][k] + "</span>").appendTo($("#" + obj_2));
                    }
                    $(".city-tit a:eq(1)").addClass('cur').siblings().removeClass('cur');
                    $(".citybox div:eq(1)").show().siblings().hide();

                    $("#" + obj_3).empty();
                    var ptext = $(this).text();
                    $(".province").find("b").text(ptext);
                    $(".city").find('b').text("请选择市/县");
                    $(".town").find('b').text("请选择区/县");
                });


                //响应obj_2的change事件
                $(document).on("click", "#" + obj_2 + " span", function () {
                    cindex = $(this).index();
                    //清空
                    $("#" + obj_3).empty();
                    for (j = 0; j < mh[pindex][cindex].length; j++) {
                        $("<span>" + mh[pindex][cindex][j] + "</span>").appendTo($("#" + obj_3));
                    }
                    $(".city-tit a:eq(2)").addClass('cur').siblings().removeClass('cur');
                    $(".citybox div:eq(2)").show().siblings().hide();
                    var ctext = $(this).text();
                    $(".city").find("b").text(ctext);
                    $(".towm").find('b').text("请选择区/县");
                });
                $(document).on("click", "#" + obj_3 + " span", function () {
                    var ttext = $(this).text();
                    $(".town").find("b").text(ttext);
                    $(".addxq").hide();
                    var pz = $(".province").find("b").text();
                    var cz = $(".city").find("b").text();
                    var tz = $(".town").find("b").text();
                    $(".address").find('a').text(pz + cz + tz);
                    $("#Region").val(pz + cz + tz);
                });
            }
            $(document).ready(function () {
                $("#UserName").val("");
                init("ctbox_1", "", "ctbox_2", "", "ctbox_3", " ");
            });
        });
    </script>
}
