@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>麦拉风后台管理系统</title>
    @*@Styles.Render("~/ContentA/css")*@
    <!-- Bootstrap core CSS -->
    <link href="~/FlatLab/css/bootstrap.min.css?v=267" rel="stylesheet">
    <link href="~/FlatLab/css/bootstrap-reset.css?v=267" rel="stylesheet">
    <!--external css-->
    <link href="~/FlatLab/assets/font-awesome/css/font-awesome.min.css?v=267" rel="stylesheet" />
    <link href="~/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css?v=267" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/FlatLab/css/owl.carousel.css?v=267" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/FlatLab/css/style.min.css?v=267" rel="stylesheet">
    <link href="~/FlatLab/css/style-responsive.min.css?v=267" rel="stylesheet" />
    @RenderSection("style", required: false)
    <!--[if lt IE 9]>
      <script src="~/FlatLab/js/html5shiv.js?v=267"></script>
      <script src="~/FlatLab/js/respond.min.js?v=267"></script>
    <![endif]-->
</head>
<body class="white-bg">
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <a href="/" class="logo"><span>Slickflow</span>MvcDemo</a>
        <div class="nav notify-row" id="top_menu">
            <ul class="nav top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-tasks"></i>
                        <span class="badge bg-success">6</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 6 pending tasks</p>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Iphone Development</div>
                                    <div class="percent">87%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                        <span class="sr-only">87% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Mobile App</div>
                                    <div class="percent">33%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                        <span class="sr-only">33% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">45%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>

                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope-alt"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is an example msg.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar-mini2.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jhon Doe</span>
                                    <span class="time">10 mins</span>
                                </span>
                                <span class="message">
                                    Hi, Jhon Doe Bhai how are you ?
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar-mini3.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jason Stathum</span>
                                    <span class="time">3 hrs</span>
                                </span>
                                <span class="message">
                                    This is awesome dashboard.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar-mini4.jpg"></span>
                                <span class="subject">
                                    <span class="from">Jondi Rose</span>
                                    <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is metrolab
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-alt"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="icon-bolt"></i></span>
                                Server #3 overloaded.
                                <span class="small italic">34 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-warning"><i class="icon-bell"></i></span>
                                Server #10 not respoding.
                                <span class="small italic">1 Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="icon-bolt"></i></span>
                                Database overloaded 24%.
                                <span class="small italic">4 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-success"><i class="icon-plus"></i></span>
                                New user registered.
                                <span class="small italic">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                Application error.
                                <span class="small italic">10 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all notifications</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="top-nav ">
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="~/Flatlab/img/avatar1_small.jpg">
                        <span class="username">@User.Identity.Name</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" icon-suitcase"></i>账户</a></li>
                        <li><a href="#"><i class="icon-cog"></i> 设置</a></li>
                        <li><a href="#"><i class="icon-bell-alt"></i> 未读消息</a></li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i>退出</a>

                            }
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="~/Slickflow/MySlickflow">
                        <i class="icon-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-laptop"></i>
                        <span>人事表单</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Leave/Add">请假单</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-book"></i>
                        <span>财务表单</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html">出差报销单</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-tasks"></i>
                        <span>IT表单</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#">USB权限开通</a></li>
                        <li><a href="#">软件安装申请</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <section id="main-content" class="white-bg">
        @RenderBody()
    </section>
    <footer class="site-footer">
        <div class="text-center">
            2014 &copy; SlickFlow MvcDemo design by <a href="http://www.cnblogs.com/wolferfeng" target="_blank">Wolferfeng</a>
            <a href="#" class="go-top">
                <i class="icon-angle-up"></i>
            </a>
        </div>
    </footer>

    <script src="~/FlatLab/js/jquery-1.8.3.min.js?v=267"></script>
    <script src="~/FlatLab/js/bootstrap.min.js?v=267"></script>
    <script class="include" type="text/javascript" src="~/FlatLab/js/jquery.dcjqaccordion.2.7.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.scrollTo.min.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.nicescroll.js?v=267" type="text/javascript"></script>
    <script src="~/FlatLab/js/jquery.sparkline.js?v=267" type="text/javascript"></script>
    <script src="~/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js?v=267"></script>
    <script src="~/FlatLab/js/owl.carousel.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.customSelect.min.js?v=267"></script>
    <script src="~/FlatLab/js/respond.min.js?v=267"></script>
    <script class="include" type="text/javascript" src="~/FlatLab/js/jquery.dcjqaccordion.2.7.js?v=267"></script>
    <!--common script for all pages-->
    <script src="~/FlatLab/js/common-scripts.js?v=267"></script>
    <!--script for this page-->
    <script src="~/FlatLab/js/sparkline-chart.js?v=267"></script>
    <script src="~/FlatLab/js/easy-pie-chart.js?v=267"></script>
    <script src="~/FlatLab/js/count.js?v=267"></script>
    @RenderSection("scripts", required: false)
    <script>
        //owl carousel
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true
            });
        });
        //custom select box
        $(function () {
            $('select.styled').customSelect();
        });
    </script>
</body>
</html>
