@model Slickflow.MvcDemo.Data.Entity.LeaveEntity
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutSlickflow.cshtml";
}
<div>
    <h4>LeaveEntity</h4>
    <h3 class="page-header">请假单数据</h3>
    <table class="table table-bordered" style="margin-top:40px;">
        <tr>
            <td> 请假类型</td>
            <td>
                @{
                    switch (Model.LeaveType)
                    {
                        case 1:
                            <span>病假</span>
                            break;
                        case 2:
                        <span>事假</span>
                            break;
                        case 3:
                        <span>丧假</span>
                            break;
                        case 4:
                        <span>产假</span>
                            break;
                        case 5:
                        <span>工伤假</span>
                            break;
                        case 6:
                        <span>婚假</span>
                            break;
                        case 7:
                        <span>年休假</span>
                            break;
                        default:
                        <span>其他假</span>
                            break;
                    }
                }
            </td>
        </tr>
        <tr>
            <td>请假天数</td>
            <td>@Html.DisplayFor(model => model.Days)</td>
        </tr>
        <tr>
            <td>开始时间</td>
            <td>@Html.DisplayFor(model => model.FromDate)</td>
        </tr>
        <tr>
            <td> 结束时间</td>
            <td>@Html.DisplayFor(model => model.ToDate)</td>
        </tr>
        <tr>
            <td> 状态</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td> 申请人</td>
            <td>@Html.DisplayFor(model => model.CreatedUserName)</td>
        </tr>
        <tr>
            <td>  申请时间</td>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
    </table>
    <h3 class="page-header">以下为审批意见数据</h3>
    @Html.Raw(@ViewBag.ShenPi)
</div>
@section scripts{
    <script src="~/Scripts/json2.js"></script>
    <script>
        //同意请求，进行下一步
        $("#agree").click(function () {
            //取审批意见表 type=agree&processGUID=@ViewBag.processGUID&instanceId=@Model.ID&days=@Model.Days
            $.ajax({
                url: '/Leave/Approval/?type=agree&processGUID=@ViewBag.processGUID&instanceId=@Model.ID&days=@ViewBag.days',
                data: JSON2.stringify($("#Remark").serializeObject()),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        alert("成功");
                    } else {
                        alert("审批失败" + data.message);
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
                //自己扩展
            });
        });
    </script>
}